@import 'tailwindcss';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
    --color-fd-primary: hsl(57, 100%, 42%);
}

.dark {
    --color-fd-primary: hsl(57, 100%, 42%);
}